<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="amChartsQuickCharts" version="1.1" targetFramework="wp81" />
  <package id="MvvmCross.Community.Plugin.Sqlite" version="3.1.1" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.2.2" targetFramework="wp81" />
  <package id="MvvmCross.PortableSupport" version="3.2.2" targetFramework="wp81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wp81" />
  <package id="SQLite.Net-PCL" version="2.5" targetFramework="wp81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wp81" />
  <package id="SQLiteNetExtensions" version="1.2.2" targetFramework="wp81" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp81" />
</packages>